
.button {
  display: inline-block;
  width: 100%;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;

  &.solid {
    background-color: var(--button-bg-color, #2f4454);
    color: var(--button-color, white);
    border: none;

    &:hover {
      background-color: #fff;
      color: #2f4454;
    }
  }

  &.outlined {
    background-color: #fff;
    color: var(--button-bg-color, #2f4454); 
    border: 2px solid var(--button-bg-color, #2f4454);

    &:hover {
      background-color: var(--button-bg-color, #fff);
      color: #2f4454;
    }
  }

  &:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
}
