.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem 1rem;
  background-color: #ffffff;
  flex-wrap: wrap;
  position: relative;

  .logo {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    img {
      width: 100px;
      height: auto;
    }

    p {
      margin-top: 10px;
      color: #4a4a4a;
      font-size: 1rem;
    }
  }

  .footerSection {
    flex: 2;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;

    div {
      .sectionTitle {
        font-weight: bold;
        margin-bottom: 1rem;
        color: #4a4a4a;
      }

      ul {
        list-style-type: none;
        padding: 0;

        li {
          margin-bottom: 0.5rem;

          a {
            color: #4a4a4a;
            text-decoration: none;

            &:hover {
              color: #000;
            }
          }
        }
      }
    }
  }

  .subscribeSection {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    text-align: right;
    align-items: flex-end;

    .subscribeText {
      margin-bottom: 1rem;
      font-size: 1rem;
      color: #4a4a4a;
    }

    .subscribeInput {
      display: flex;
      align-items: center;
      position: relative;

      input {
        padding: 0.75rem 1rem;
        border: 1px solid #ddd;
        border-radius: 50px;
        width: 250px;
        font-size: 1rem;
        transition: all 0.3s ease;
        padding-left: 20px;

        &:focus {
          outline: none;
          border-color: #4a4a4a;
        }
      }

      button {
        position: absolute;
        width: 35px;
        right: 5px;
        top: 50%;
        transform: translateY(-50%);
        padding: 10px ;
        background-color: #4a4a4a;
        border: none;
        border-radius: 50px;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-size: 1.2rem;

        &:hover {
          background-color: #333;
        }

        svg {
          font-size: 1.2rem;
        }
      }
    }
  }

  .horizontalLine {
    width: 100%;
    border: none;
    border-top: 1px solid #ddd;
    margin: 2rem 0 1rem 0;
  }

  .footerNote {
    width: 100%;
    text-align: left;
    padding: 0 20px;
    margin-top: 1rem;
    font-size: 0.9rem;
    color: #4a4a4a;
  }

  @media (max-width: 1024px) {
    .footerSection, .subscribeSection {
      flex: 1;
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    text-align: center;

    .logo, .footerSection, .subscribeSection {
      align-items: center;
    }

    .footerSection {
      flex-direction: column;
      align-items: center;
    }

    .subscribeSection {
      .subscribeInput {
        justify-content: center;

        input {
          width: 100%;
        }
      }
    }

    .horizontalLine {
      margin-top: 1rem;
    }
  }

  @media (max-width: 480px) {
    padding: 1rem;

    .subscribeInput {
      flex-direction: column;

      input {
        margin-bottom: 0.5rem;
        width: 100%;
      }

      button {
        margin-left: 0;
      }
    }
  }
}
